@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #0d59f2;
    --color-background-light: #f5f6f8;
    --color-background-dark: #101622;
    --color-text-primary: #212529;
    --color-text-secondary: #6c757d;
  }
  

